/* fonts */

/* colors */

:root {
  --white: #fff;
  --primary-text: #000000;
  --secondary-text: #525252;
  --background: #0066ff;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  overflow-wrap: break-word;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Playfair", serif;
  font-weight: 500;
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

#root,
#__next {
  isolation: isolate;
}

.abouts__section {
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  width: min(100% - 2rem, 365px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container__image {
  position: relative;
  padding: 2rem 0;
}

.image {
  max-width: 100%;
  margin: 1rem 0;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.4);
}

.image__name {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  transform: translate3d(0, -40%, 0);
  color: var(--white);
  font-size: 4.5rem;
  line-height: 3.75rem;
  text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
}

.title {
  text-align: center;
  font-size: 3rem;
}

.content__para {
  font-size: 1.35rem;
  line-height: 2rem;
  color: var(--secondary-text);
}

.content__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.image__icon {
  max-width: 50px;
  margin: 1rem;
}

.work__section {
  margin: 3rem 0;
  min-height: 100vh;
}

.work__grid {
  margin: 2rem 0;
  display: grid;
  gap: 1.5rem;
}

.work__card {
  box-shadow: 1px 5px 14px -4px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.work__image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.work__content {
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin: 0.5rem 0.35rem;
  }
}

.work__description {
  font-size: 1.2rem;
  padding: 0 1rem;
  margin: 2rem 0;
}

.footer {
  background-color: var(--background);
  color: var(--white);
  padding: 2rem 0;
}

.desc {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.info__list {
  width: 100%;
  list-style-type: none;
}

.info__item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info__item span {
  margin: 0 1rem 0 0rem;
}

.info__item span img {
  filter: invert(1);
}

@media screen and (min-width: 768px) {
  .container {
    width: min(100% - 2rem, 765px);
    flex-direction: row;
  }

  .container__image {
    margin-right: 2rem;
  }

  .image {
    width: 100%;
  }

  .content {
    background-color: var(--white);
    padding: 0 2rem;
    box-shadow: 1px 5px 14px -4px rgba(0, 0, 0, 0.75);
  }

  .title {
    text-align: left;
    margin: 1rem 0;
  }

  .content__icons {
    justify-content: left;
  }

  .github {
    margin: 0;
  }

  .work__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .work__card {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer .container {
    justify-content: space-between;
  }

  .container {
    width: min(100% - 2rem, 1440px);
    flex-direction: row;
  }

  .container__image {
    margin-right: 0rem;
  }

  .image {
    max-width: 1440px;
  }

  .content {
    padding: 3rem 2rem 0 3rem;
  }

  .content__icons {
    justify-content: right;
    margin-top: 3rem;
  }

  .work__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-info .content__icons {
    justify-content: left;
  }
}
